.content {
    grid-area: c;
}

.content img {
    width: 100%;
    height: 200px;
}

.post img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.content .content-avatar,
.content .content-post {
    padding: 10px;
}