.dialogs {
    display: flex;
    flex-direction: column;
}
.dialogs-row {
    width: 100%;
    display: flex;

}
.dialog-items {
    width: 30%;
    border-right: 1px solid black;
    padding: 10px;
}
.dialog-items .item a {
    color: black;
    text-decoration: none;
}
.dialog-items .item a.active {
    color: gold;
}
.message-items {
    width: 70%;
    padding: 10px;
}

.dialog-add {
    display: flex;
    
}
